.header-logo img{
    width: 30%;
    padding: 2% 3%;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
        .header-logo{
            padding: 2% 3%;
            position: fixed;
            top: 0;
            z-index: 1;
        }
}
